// Fonts
$font-title: 'Raleway', sans-serif;
$font-body: 'Opens Sans', sans-serif; 

// Colors
$introBg: #efefda;
$mainBg: #fce8bc;
$footerBg: #1d434e;
$testimonialBg: #1d434e;
$ctaCyan: #d13123;
$ctaBlue: #970c10;

// Borders
$border-radius: 10px;
$border-radius-circle: 30px;

// Breakpoints
$breakpoints: (
    small: 499px,
    medium: 699px,
    large: 999px,
    xlarge: 1399px
);


@mixin breakpoint ($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value){
        @content;
    }
}
    
